body
{
	margin-top : 30px;
	width : 70%;
	border : groove 5px #84D4EF;
	margin-left : auto;
	margin-right : auto;
}

#d1
{
	border : solid 1px red;
	margin : 10px;
	padding : 5px;
}
#p1
{
	border : inset 5px #84D4EF;
}
#p2
{
	border : outset 5px #84D4EF;
}

#d2
{
	border : dotted 1px #84D4EF;
	margin : 0px 15px 15px 15px;
	padding-top : 4px;
	padding-bottom : 15px;
}
#p3
{
	border : dotted 1px #84D4EF;
	margin-left : 20px;
	margin-right : 20px;
	padding : 10px;
}
span
{
	color : #84D4EF;
	background-color : black;
	padding : 16px;
}
#p4
{
	border : solid 1px #84D4EF;
	margin : 10px;
}
